# Ignore MLflow experiment runs and models
mlruns/
models/

# Ignore zip files
*.zip

# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
.env/
mlops-env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS metadata files
.DS_Store
mlruns/
models/
*.zip
mlops-env/